irc:
  server: irc.example.com # Required
  port: 6667
  nick: bot11
  prefix: '!'
  channels:
    - '#example'
  nickserv: password
  sasl:
    username: username
    password: password

plugins:
  - automeme
  - destiny
  - help
  - lastfm
  - sed
  - spell

lastfm:
  token: 00000000000000000000000000000000 # Required
  secret: 00000000000000000000000000000000 # Required
  pstore: lastfm.pstore
  chart: lastfm.chart

sed:
  memory: 5

spell:
  checker: hunspell # hunspell or aspell
  language: en_US
