irc:
  server: irc.example.com # Required
  port: 6667
  ssl: false
  nick: bot11
  prefix: '!'
  channels:
    - '#example'
  nickserv: password # Optional
  sasl: # Optional
    username: username
    password: password

plugins:
  - memory
  - redis
  - acronym
  - admin
  - automeme
  - channels
  - destiny
  - fedora
  - freebase
  - github
  - help
  - ignore
  - karma
  - lastfm
  - network
  - meep
  - ratelimit
  - sed
  - snarf
  - spell
  - weather

memory:
  lines: 5

redis:
  uri: redis://localhost:6379/0

acronym:
  words: /usr/share/dict/words

admin:
  masks:
    - '*!*example@example.com'
  eval: false # Enable the eval command. Do not enable this. Just don't.

channels:
  blacklist:
    plugin: ['#example'] # Plugin will not work in #example
  whitelist:
    plugin: ['#example'] # Plugin will only work in #example

freebase:
  key: 000000000000000000000000000000000000000

ignore:
  masks:
    - '*!*example@example.com'

karma:
  pstore: karma.pstore

lastfm:
  token: 00000000000000000000000000000000 # Required
  secret: 00000000000000000000000000000000 # Required
  pstore: lastfm.pstore
  chart: lastfm.chart

ratelimit:
  rate: 5
  time: 1 # seconds
  cooldown: 5 #seconds

sed:
  memory: 5

snarf:
  timeout: 5 # seconds
  http:
    limits:
      redirects: 5
      stream: 512 # kilobytes
      title: 250 # characters
    useragent: 'Mozilla/5.0 (X11; Linux x86_64; rv:24.0) Gecko/20100101 Firefox/24.0'
    shorten: 35 # URI length to shorten
  twitter: # Optional
    key: 000000000000000000000
    secret: 0000000000000000000000000000000000000000000

spell:
  checker: hunspell # hunspell or aspell
  language: en_US

weather:
  forecastio:
    key: 00000000000000000000000000000000
  wunderground:
    key: 0000000000000000
