irc:
  server: irc.example.com # Required
  port: 6667
  ssl: false
  nick: bot11
  prefix: '!'
  channels:
    - '#example'
  nickserv: password
  sasl:
    username: username
    password: password

plugins:
  - acronym
  - admin
  - automeme
  - channels
  - destiny
  - freebase
  - help
  - ignore
  - karma
  - lastfm
  - sed
  - spell

acronym:
  words: /usr/share/dict/words

admin:
  masks:
    - '*!*example@example.com'

channels:
  blacklist:
    plugin: ['#example'] # Plugin will not work in #example
  whitelist:
    plugin: ['#example'] # Plugin will only work in #example

freebase:
  key: 000000000000000000000000000000000000000

ignore:
  masks:
    - '*!*example@example.com'

karma:
  pstore: karma.pstore

lastfm:
  token: 00000000000000000000000000000000 # Required
  secret: 00000000000000000000000000000000 # Required
  pstore: lastfm.pstore
  chart: lastfm.chart

sed:
  memory: 5

spell:
  checker: hunspell # hunspell or aspell
  language: en_US
